body {
    background-color:blanchedalmond;
}
h1 {
    font-size: larger;
    color: blue;
}
h2 {
    font-size: large;
    color:blue;
    padding-left: 30px;
}
p {
    font-size: medium;
    color:cadetblue;
    padding-left: 20px;
}
ul, ol {
    color:blueviolet
}
li {
    margin-top: 20px;
}
pre {
    color:cornflowerblue;
}
.content {
    display: flex;
    background-color: darksalmon;
    margin: 1%;
}
.content-left {
    width: 50%;
    background-color: burlywood;
    margin: 2%;
    padding: 1%;
    border-radius: 3%;
}
.content-right {
    text-align: center;
    width: 50%;
    margin: 2%;
    padding: 1%;
    background-color: burlywood;
    border-radius: 3%;
}
.header {
    text-align: right;
}
.container {
    background-color:coral;
}
.block {
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: auto;
}
.image2 {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
}
.container-2 {
    background-color: coral;
    display: flex; 
    align-items: center;
}
.block-2 {
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: auto;
}
.container-3 {
    background-color: coral;
    border: 5px solid aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
}
.block-3 {
    background-color: blue;
    height: 200px;
    width: 200px;
    margin: 10px;
}
.block-4 {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: aliceblue;
}
.fixced {
    background-color: brown;
    color: aliceblue;
    position: fixed;
    right: 0;
    bottom: 0;
}
.relative {
    background-color: blueviolet;
    position: relative;
    left: 50px;
    bottom: 50px;
}
.relative-2 {
    background-color: red;
    position: relative;
    left: 100px;
    bottom: 100px;
}